  <div class="container-fluid-xxl py-5">
    <div class="container-fluid">
      <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Our Infrastructure</h1>
      <div class="row g-4">
        
        <!-- Administrative Area -->
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <fa-icon [icon]="faBuilding" class="fa-5x text-primary mb-4"></fa-icon>
              <h5 class="mb-3">Administrative Area</h5>
              <p class="mb-2">Learn about our administrative facilities and services.</p>
              <a class="btn btn-sm btn-primary" [routerLink]="['/infrastructure/administrative-area']">Learn More</a>
            </div>
          </div>
        </div>
  
        <!-- Lecture Hall -->
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <fa-icon [icon]="faChalkboardTeacher" class="fa-5x text-primary mb-4"></fa-icon>
              <h5 class="mb-3">Lecture Hall</h5>
              <p class="mb-2">Explore our well-equipped lecture halls for effective learning.</p>
              <a class="btn btn-sm btn-primary" [routerLink]="['/infrastructure/lecture-hall']">Learn More</a>
            </div>
          </div>
        </div>
  
        <!-- Laboratory Area -->
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <fa-icon [icon]="faFlask" class="fa-5x text-primary mb-4"></fa-icon>
              <h5 class="mb-3">Laboratory Area</h5>
              <p class="mb-2">Our state-of-the-art labs for hands-on learning and research.</p>
              <a class="btn btn-sm btn-primary" [routerLink]="['/infrastructure/laboratory-area']">Learn More</a>
            </div>
          </div>
        </div>
  
        <!-- Library Area -->
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <fa-icon [icon]="faBookOpen" class="fa-5x text-primary mb-4"></fa-icon>
              <h5 class="mb-3">Library Area</h5>
              <p class="mb-2">Discover our extensive collection of resources and study areas.</p>
              <a class="btn btn-sm btn-primary" [routerLink]="['/infrastructure/library-area']">Learn More</a>
            </div>
          </div>
        </div>
  
        <!-- Canteen -->
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <fa-icon [icon]="faUtensils" class="fa-5x text-primary mb-4"></fa-icon>
              <h5 class="mb-3">Canteen</h5>
              <p class="mb-2">Enjoy healthy and delicious meals in our canteen.</p>
              <a class="btn btn-sm btn-primary" [routerLink]="['/infrastructure/canteen']">Learn More</a>
            </div>
          </div>
        </div>
  
        <!-- Playground -->
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="1.1s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <fa-icon [icon]="faFutbol" class="fa-5x text-primary mb-4"></fa-icon>
              <h5 class="mb-3">Playground</h5>
              <p class="mb-2">Explore our outdoor sports facilities and playgrounds.</p>
              <a class="btn btn-sm btn-primary" [routerLink]="['/infrastructure/playground']">Learn More</a>
            </div>
          </div>
        </div>
  
        <!-- Hostel -->
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="1.3s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <fa-icon [icon]="faBed" class="fa-5x text-primary mb-4"></fa-icon>
              <h5 class="mb-3">Hostel</h5>
              <p class="mb-2">Our hostel facilities offer a comfortable living space for students.</p>
              <a class="btn btn-sm btn-primary" [routerLink]="['/infrastructure/hostel']">Learn More</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <app-laboratory-area></app-laboratory-area>