<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <!-- <h2 class="m-0 text-primary">Merchant Pharmacy</h2> -->
      <img src="ClgLogo.png" alt="Logo" style="width: 130px;height: 75px;">
    </a>
    <button type="button" class="navbar-toggler me-4" (click)="navbarCollapsed = !navbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!navbarCollapsed">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <!-- About Dropdown -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
          <div class="dropdown-menu fade-down m-0 about-menu">
            <div class="row p-3">
              <div class="col-md-4">
                <h6 class="dropdown-header">Know Our College</h6>
                <a routerLink="/about" class="dropdown-item">About College</a>
                <a routerLink="/about/introduction-vision" class="dropdown-item">Vision & Mission</a>
                <a routerLink="/about/dean-message" class="dropdown-item">Dean's Message</a>
                <a routerLink="/about/history-milestones" class="dropdown-item">History & Milestones</a>
                <a routerLink="/about/recognition" class="dropdown-item">Recognition & Approvals</a>
                <a routerLink="/about/green-initiatives" class="dropdown-item">Green Initiatives</a>
              </div>
              <div class="col-md-4">
                <h6 class="dropdown-header">Cells & Centers</h6>
                <a routerLink="/about/research-development" class="dropdown-item">Research & Development</a>
                <a routerLink="/about/entrepreneurship" class="dropdown-item">Entrepreneurship Cell</a>
                <a routerLink="/about/skill-development" class="dropdown-item">Skill Development</a>
                <a routerLink="/about/iqac" class="dropdown-item">IQAC</a>
                <a routerLink="/about/grievance" class="dropdown-item">Grievance Cell</a>
                <a routerLink="/about/anti-ragging" class="dropdown-item">Anti-Ragging Cell</a>
                <a routerLink="/about/womens-cell" class="dropdown-item">Women Development</a>
              </div>
              <div class="col-md-4">
                <h6 class="dropdown-header">Governance & Leadership</h6>
                <a routerLink="/about/governing-body" class="dropdown-item">Governing Body</a>
                <a routerLink="/about/academic-leadership" class="dropdown-item">Academic Leadership</a>
                <a routerLink="/about/committees" class="dropdown-item">Committees</a>
                <a routerLink="/about/staff-directory" class="dropdown-item">Staff Directory</a>
              </div>
            </div>
          </div>
        </div>    

        <!-- Programs Dropdown -->
        <div ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>Programs</a>
          <div ngbDropdownMenu class="dropdown-menu fade-down m-0 programs-menu">
            <div class="container p-3">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <h6 class="dropdown-header">Undergraduate Programs</h6>
                  <div class="ps-2">
                    <a class="dropdown-item" routerLink="/departments/b-pharm">
                      <i class="fas fa-graduation-cap me-2"></i>B.Pharm
                      <small class="d-block text-muted">Bachelor of Pharmacy</small>
                    </a>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div>

        <!-- Campus Life -->
        <div ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>Campus</a>
          <div ngbDropdownMenu class="dropdown-menu fade-down m-0">
            <div class="p-3">            
              <h6 class="dropdown-header mt-3">Facilities</h6>
              <a class="dropdown-item" routerLink="/transportation">Transportation</a>
            </div>
          </div>
        </div>
        <a routerLink="/research" class="nav-item nav-link">Research</a>
        <a routerLink="/gallery" class="nav-item nav-link">Gallery</a>
        <a routerLink="/contact" class="nav-item nav-link">Contact</a>
      </div>
      
      <!-- Admission CTA Button -->
      <a routerLink="/admission/apply" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">
        Apply Now<i class="fa fa-arrow-right ms-3"></i>
      </a>
    </div>
  </div>
</nav>