
<app-navbar></app-navbar>

<owl-carousel-o [options]="customOptions" class="container-fluid p-0 mb-5">
    <ng-template carouselSlide *ngFor="let slide of slides">
        <div class="position-relative">
            <img class="img-fluid" [src]="slide.image" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(24, 29, 56, .7)">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">
                                {{ slide.subtitle }}
                            </h5>
                            <h1 class="display-3 text-white animated slideInDown">
                                {{ slide.title }}
                            </h1>
                            <p class="fs-5 text-white mb-4 pb-2">
                                {{ slide.description }}
                            </p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>

<app-services></app-services>

<app-about></app-about>

<app-course-categories></app-course-categories>

<app-popular-courses></app-popular-courses>