<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
          <div class="d-flex flex-column nav nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-bpharm-tab" [routerLink]="['./b-pharm']" routerLinkActive="active" aria-selected="true">B.Pharm</a>
            <a class="nav-link" id="v-pills-mpharm-tab" [routerLink]="['./m-pharm']" routerLinkActive="active" aria-selected="false">M.Pharm</a>
            <a class="nav-link" id="v-pills-pharmd-tab" [routerLink]="['./pharm-d']" routerLinkActive="active" aria-selected="false">Pharm.D</a>
            <a class="nav-link" id="v-pills-phd-tab" [routerLink]="['./phd-pharmacy']" routerLinkActive="active" aria-selected="false">Ph.D in Pharmacy</a>
          </div>
        </div>
        <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.3s">
          <div class="tab-content" id="v-pills-tabContent">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>