<div class="container-fluid-xxl py-5">
    <div class="container-fluid">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
        <h1 class="mb-5">Expert Instructors</h1>
      </div>
      <div class="row g-4">
        @for (instructor of instructors; track $index; let i = $index) {
          <div class="col-lg-3 col-md-6 wow fadeInUp" [attr.data-wow-delay]="instructor.wowDelay">
            <div class="team-item bg-light">
              <div class="overflow-hidden">
                <img class="img-fluid" [src]="instructor.imageUrl" alt="{{ instructor.name }}">
              </div>
              <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                  @if (instructor.socialLinks.facebook) {
                    <a class="btn btn-sm-square btn-primary mx-1" [href]="instructor.socialLinks.facebook"><fa-icon [icon]="faFacebookF"></fa-icon></a>
                  }
                  @if (instructor.socialLinks.twitter) {
                    <a class="btn btn-sm-square btn-primary mx-1" [href]="instructor.socialLinks.twitter"><fa-icon [icon]="faTwitter"></fa-icon></a>
                  }
                  @if (instructor.socialLinks.instagram) {
                    <a class="btn btn-sm-square btn-primary mx-1" [href]="instructor.socialLinks.instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
                  }
                </div>
              </div>
              <div class="text-center p-4">
                <h5 class="mb-0">{{ instructor.name }}</h5>
                <small>{{ instructor.designation }}</small>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>