<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center px-3" style="color: maroon;">Infrastructure</h6>
      <h1 class="mb-5">Our Campus Facilities</h1>
    </div>

    <div class="row g-4">
      @for (facility of facilities; track $index) {
        <div class="col-lg-3 col-md-6 wow fadeInUp" [attr.data-wow-delay]="0.1 * ($index + 1) + 's'">
          <div class="facility-item bg-light rounded h-100 p-4">
            <div class="d-flex align-items-center mb-4">
              <div class="facility-icon rounded-circle d-flex align-items-center justify-content-center" style="background-color: maroon;">
                <fa-icon [icon]="facility.icon" class="text-white fs-4"></fa-icon>
              </div>
              <h5 class="mb-0 ms-3">{{ facility.name }}</h5>
            </div>
            <p class="mb-4">{{ facility.description }}</p>
            <div class="ms-2">
              @for (feature of facility.features; track $index) {
                <div class="d-flex mb-2">
                  <i class="fa fa-check me-2 mt-1" style="color: maroon;"></i>
                  <span>{{ feature }}</span>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>

    <!-- Image Gallery -->
    <div class="row g-4 mt-5">
      <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="mb-4">Campus Gallery</h2>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="gallery-item">
          <img src="img/campus-1.jpg" class="img-fluid" alt="Campus View">
          <div class="gallery-overlay">
            <div class="gallery-info">
              <h6 class="text-white">Main Building</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="gallery-item">
          <img src="img/campus-2.jpg" class="img-fluid" alt="Laboratory">
          <div class="gallery-overlay">
            <div class="gallery-info">
              <h6 class="text-white">Research Laboratory</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="gallery-item">
          <img src="img/campus-3.jpg" class="img-fluid" alt="Library">
          <div class="gallery-overlay">
            <div class="gallery-info">
              <h6 class="text-white">Central Library</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 