  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <!-- Sidebar Navigation -->
        <div class="col-lg-3" data-wow-delay="0.1s">
          <div class="d-flex flex-column nav nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" [routerLink]="['./process']" routerLinkActive="active" aria-selected="true">Admission Process</a>
            <a class="nav-link" [routerLink]="['./important-dates']" routerLinkActive="active" aria-selected="false">Important Dates</a>
            <a class="nav-link" [routerLink]="['./fees-structure']" routerLinkActive="active" aria-selected="false">Fees Structure</a>
            <a class="nav-link" [routerLink]="['./scholarship-info']" routerLinkActive="active" aria-selected="false">Scholarship Info</a>
            <a class="nav-link" [routerLink]="['./documents-required']" routerLinkActive="active" aria-selected="false">Documents Required</a>
  
            <div class="mt-4">
              <h5 class="mb-3">Quick Actions</h5>
              <a [routerLink]="['./apply-online']" class="btn btn-primary w-100 mb-2">Online Application Form</a>
              <a [routerLink]="['/upload-documents']" class="btn btn-outline-primary w-100 mb-2">Upload Documents</a>
              <a [routerLink]="['/status-check']" class="btn btn-outline-primary w-100">Status Check</a>
            </div>
          </div>
        </div>
  
        <!-- Main Content -->
        <div class="col-lg-9 wow " data-wow-delay="0.3s">
          <div class="tab-content" id="v-pills-tabContent">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  